<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置mybatis使用log4j日志输出系统-->
<configuration>
    <settings>
        <setting name="logImpl" value="log4j"/>
        <!--开启数据库下划线和Java驼峰映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>